@tailwind base;
@tailwind components;

@layer base {
	body {
		@apply font-sans;
	}

	h1 {
		@apply text-5xl font-bold;
	}

	h3 {
		@apply text-[16px] font-bold;
	}

	h4 {
		@apply text-[14px] font-bold;
	}
}

@layer components {
	.border-gradient {
		border: 2px solid transparent; /* Đặt border mặc định là transparent */
		border-image: linear-gradient(90deg, #D91D2C 0%, #E14B3E 47%, #EEAD08 83%, #FFDA44 99%); /* Cài đặt gradient cho border */
		border-image-slice: 1;
	}
	.custom-prev, .custom-next{
		position: absolute;
		z-index: 30;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: white;
		cursor: pointer;
		justify-content: center;
		align-items: center;
		user-select: none;
	}
	.custom-prev-banner, .custom-next-banner{
		@apply hidden md:inline-flex items-center cursor-pointer text-bg select-none absolute z-30 w-[30px] h-[60px] top-[40%] bg-custom-bg-btn opacity-0 group-hover:opacity-100
	}
	.center{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.btn-pagination {
		@apply w-[40px] h-[40px] border-solid border-2 text-[16px] cursor-pointer text-text bg-bg rounded-md flex justify-center items-center shadow-custom-shadow
	}
	.label-inp {
		@apply absolute left-7 top-[-1px] transform text-text-muted -translate-y-1/2 text-[14px] transition-all duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-text-muted peer-placeholder-shown:-translate-y-1/2 peer-focus:top-[-1px] bg-white px-[6px] cursor-text
	}
	.custom-scrollbar::-webkit-scrollbar {
		width: 8px;
	}
	.custom-scrollbar::-webkit-scrollbar-thumb {
		background: gray;
		border-radius: 100rem;
	}
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.swiper-pagination-bullet {
	background-color: #fff !important; 
	width: 12px !important;
	height: 12px !important;
	opacity: 1 !important;
  }
  
.swiper-pagination-bullet-active {
background-color: #D91D2C !important; 
}

.ant-pagination-item {
	background: #fff;
	color: #000;
	border: solid 1px #DEDEDE !important;
	width: auto !important;
	height: auto !important;
	padding: 4px 8px;
	transition: all 0.3s ease;
	font-size: 16px !important;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)
  }
  
.ant-pagination-item-active a {
	color: #D91D2C !important;
	font-size: 16px !important;
}

.ant-pagination-prev, .ant-pagination-next {
	width: auto !important;
	height: auto !important;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  	font-size: 16px !important; 
	color: #D91D2C !important;
}

.ant-pagination-jump-prev:hover .ant-pagination-item-container .anticon,
.ant-pagination-jump-next:hover .ant-pagination-item-container .anticon {
  color: #D91D2C !important; 
}

.custom-checkbox .ant-checkbox-inner {
	background-color: #D91D2C !important;
	border-color: #FFF !important;
  }
  .custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
	background-color: #D91D2C !important;
	border-color: #D91D2C !important;
  }
  .custom-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
	border-color: white ;
  }
  .custom-checkbox .ant-checkbox:hover .ant-checkbox-inner {
	border-color: #D91D2C !important;
  }
  .custom-checkbox .ant-checkbox-checked:hover .ant-checkbox-inner {
	background-color: #D91D2C !important;
	border-color: #D91D2C !important;
  }